@model IEnumerable<EmployeeResponseViewModel>

<table class="mt-4 table table-striped table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>@Html.DisplayNameFor(E => E.Name)</th>
            <th>@Html.DisplayNameFor(E => E.Age)</th>
            <th>@Html.DisplayNameFor(E => E.Salary)</th>
            <th>@Html.DisplayNameFor(E => E.Department)</th>
            <th>@Html.DisplayNameFor(E => E.IsActive)</th>
            @* <th>@Html.DisplayNameFor(E => E.PhoneNumber)</th> *@
            <th>@Html.DisplayNameFor(E => E.Gender)</th>
            @* <th>@Html.DisplayNameFor(E => E.EmployeeType)</th> *@
            @* <th>@Html.DisplayNameFor(E => E.HiringDate)</th> *@
            <th>@Html.DisplayNameFor(E => E.Email)</th>
            <th>
                Details
            </th>
            <th>
                Update
            </th>
            <th>
                Delete Using New Page
            </th>
            <th>
                Delete Using Modal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    <img src="~/Files/Images/@employee.ImageName" width="75" class="img-fluid rounded-circle" alt="Employee Image" />
                </td>
                <td>@employee.Name</td>
                <td>@employee.Age</td>
                <td>@Html.DisplayFor(M => employee.Salary)</td>
                <td>@employee.Department?.Name</td>
                <td>@Html.DisplayFor(M => employee.IsActive)</td>
                @* <td>@employee.PhoneNumber</td> *@
                <td>@employee.Gender</td>
                @* <td>@employee.EmployeeType</td> *@
                @* <td>@employee.HiringDate</td> *@
                <td>@Html.DisplayFor(M => employee.Email)</td>
                <partial name="_ButtonsPartial" model="@employee.Id" />
            </tr>
        }

    </tbody>

</table>